* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100%;
}

header {
    background-color: black;
    padding: 20px;
    width: 250px;
    min-height: 100vh;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 100px;
}

.button-theme {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.theme {
    border:2px #82D3FE solid;
    border-radius: 10px;
    background-color: black;
    width: 100px;
    color: white;
}

.theme:active {
    border:2px white solid;
    border-radius: 10px;
    background-color: grey;
}

.title1 {
    font-family: "Quicksand", sans-serif;
    display: flex;
    text-align: center;
    color: #82D3FE;
    margin-top: 50px;
}

.imgdev-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.imgdev {
    width: 200px;
    margin-left: 10px;
    border-radius: 50%;
    border: 5px black solid;
}

.imgdev-container p {
    font-family: "EB Garamond", serif;
    color: #D3D3D3;
    margin-top: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.info a{
    font-family: "EB Garamond", serif;
    text-decoration: none;
    color: white;
    
}

.info a:hover{
    text-decoration: underline;
    color: #82D3FE;
    
}

main {
    background-image: url(./images/Carte\ mère.jpg);
}

.title2 {
    font-family: "Quicksand", sans-serif;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7 );
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

.title2 h2 {
    color: #89DEFC;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: underline;
    font-size: 3rem;
    text-align: center;
}

.color-dev {
    color: #3B86A2;
}

.text-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.text-container p {
    font-family: "EB Garamond", serif;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

.skill {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7 );
    border-radius: 10%;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 80px;
}

.skill h3 {
    font-family: "Quicksand", sans-serif;
    color: #82D3FE;
    font-size: 2rem;
    text-decoration: underline;
}

.all-skill {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;
}

.skill-html img {
    width: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

.skill-html img:hover {
    transform: translateY(-20px);
}

.skill-css img {
    width: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

.skill-css img:hover {
    transform: translateY(-20px);
}

.skill-js img {
    background-color: white;
    border-radius: 15px;
    width: 150px;
}

.skill-js img:hover {
    transform: translateY(-20px);
}

.skill-github img {
    width: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

.skill-github img:hover {
    transform: translateY(-20px);
}

footer {
    position: absolute;
    bottom: 0;
    background-color: black;
    color: #fff;
    padding: 20px;
    width: 100%;
}

.footer-text{
    display: flex;
    justify-content: flex-end;
}

.footer-text p{
    font-family: "EB Garamond", serif;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 10px;
    padding-right: 10px;
}

.icone-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap : 15px;
}

.icone-instagram {
    display: flex;
}

.icone-instagram img {
    width: 45px;
    height: 45px;
}

.icone-facebook {
    display: flex;
}

.icone-facebook img {
    width: 40px;
    height: 40px;
}

.icone-linkedin {
    display: flex;
}

.icone-linkedin img {
    width: 40px;
    height: 40px;
}
.lightheader {
    background: white;
    color:black;
}
.lightinfo a{
    color: black;
}
.lighttitle {
    color: #0B2D43;
}
.lightp p{
    color: black;
}