* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    /* flex: 1; */
    height: 100%;
    /* background: linear-gradient(90deg, #D3D3D3 54%, #00FFFF 55%); */
}

header {
    background-color: black;
    padding: 20px;
    width: 200px;
    min-height: 100vh;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 100px;
}

.button-theme {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.theme {
    border:2px #304352 solid;
    border-radius: 10px;
    background-color: gray;
    width: 100px;
    color: white;
}

.theme:active {
    border:2px white solid;
    border-radius: 10px;
    background-color: gray;
}

.title1 {
    display: flex;
    text-align: center;
    color: #4a6e8a;
    margin-top: 50px;
}

.imgdev-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.imgdev {
    width: 150px;
}

.imgdev-container p {
    color: #D3D3D3;
    margin-top: 10px
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.info a{
    text-decoration: none;
    color: white;
    
}

.info a:hover{
    text-decoration: underline;
    color: #4a6e8a;
    
}

.icone-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap : 15px;
}

.icone-instagram {
    display: flex;
}

.icone-instagram img {
    width: 45px;
    height: 45px;
}

.icone-facebook {
    display: flex;
}

.icone-facebook img {
    width: 40px;
    height: 40px;
}

.icone-linkedin {
    display: flex;
}

.icone-linkedin img {
    width: 40px;
    height: 40px;
}
main {
    /* background: linear-gradient(90deg, 	white 38%, #00FFFF 38%); */
    /* /* background: linear-gradient(90deg, #FFFDE4 13%, #00FFFF 83%); */
    background: linear-gradient(90deg, #d7d2cc 17%, #304352 17%);
}

.title2 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-left: 15%;
}

.title2 h2 {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    font-size: 3rem;
    text-align: center;
}

.text-container {
    display: flex;
    justify-content: center;
    padding: 50px 50px;
    margin-left: 15%;
}

.text-container p {
    color: white;
    font-size: 1.2rem;
}

.skill {
    display: flex;
    justify-content: center;
    margin-left: 15%;
}

.skill h3 {
    color: white;
    font-size: 2rem;
    text-decoration: underline;
}

.all-skill {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 150px 50px;
    margin-left: 20%;
}

.skill-html img {
    width: 150px;
}

.skill-html img:hover {
    transform: translateY(-15px);
}

.skill-css img {
    width: 150px;
}

.skill-css img:hover {
    transform: translateY(-15px);
}

.skill-js img {
    width: 150px;
}

.skill-js img:hover {
    transform: translateY(-15px);
}

.skill-github img {
    width: 150px;
}

.skill-github img:hover {
    transform: translateY(-15px);
}

footer {
    position: absolute;
    bottom: 0;
    background-color: black;
    color: #fff;
    padding: 20px;
    width: 100%;
}

.dark {
    background: linear-gradient(90deg, 	white 38%, #00FFFF 38%);
}